*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}
.main{
       
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#width{
    width: 240px;
    background-color: none;
    height: 300px;
    box-shadow: 1px 1px 5px grey,-1px -1px 5px grey;
    border-radius: 15px;
}

input[type=color]{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border-radius: 6px;
    margin: 10px 0px;
}
h1{
    text-transform: capitalize;
    border: 1px solid;
    border-radius: 6px;
    letter-spacing: 2px;
    margin: 10px 0px;
    width: 100%;
}
.arrow{
    position: absolute;

    font-size: 23px;
    margin: 4px 6px;
}
button{
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    display: block;
    padding: 5px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
p{
    font-size: 25px;
    text-align: center;
    visibility: hidden;
    height: 30px;
}